header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: #686868;
}

.header-list {
    list-style: none;
}

.header-list li {
    display: inline;
    margin: 0 20px;
}

.login-button {
    color: #686868;
    text-decoration: none;
    border: 1px solid #686868;
    padding: 5px 20px;
    border-radius: 5px;
}

.register-button {
    background-color: #814ac4;
    color: #fff;
    text-decoration: none;
    border: 1px solid #814ac4;
    padding: 5px 20px;
    border-radius: 5px;
}

.logo {
    width: 100px;
}