* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Lato', 'Arial', sans-serif;
}

.site {
    height: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    color: #686868;
}

.header-list {
    list-style: none;
}

.header-list li {
    display: inline;
    margin: 0 20px;
}

.login-button {
    color: #686868;
    text-decoration: none;
    border: 1px solid #686868;
    padding: 5px 20px;
    border-radius: 5px;
}

.register-button {
    background-color: #814ac4;
    color: #fff;
    text-decoration: none;
    border: 1px solid #814ac4;
    padding: 5px 20px;
    border-radius: 5px;
}

.logo {
    width: 100px;
}

.box-one {
    background: url(../images/slider-bg.png) 0 100% repeat-x;
    position: relative;
    height: 82%;
}

.slide-text {
    float: left;
    width: 50%;
    margin-left: 50px;
    margin-top: 70px;
}

.slide-text h1 {
    font-weight: 300;
    font-size: 36px;
    color: #686868;
    margin-bottom: 20px;
}

.slide-text p {
    color: #686868;
    margin-bottom: 30px;
}

.signup-button {
    text-decoration: none;
    color: #814ac4;
    border: 1px solid #814ac4;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 14px;
}

.slider-hill {
    position: absolute;
    right: 0;
    bottom: 0;
}

.slider-house {
    position: absolute;
    right: 110px;
    bottom: -.5px;
}

.slider-scooter {
    position: absolute;
    left: 310px;
    bottom: -14px;
    width: 150px;
}

.slider-sun {
    position: absolute;
    right: 365px;
    bottom: 100px;
}

.slider-birds1 {
    position: absolute;
    right: 470px;
    bottom: 75px;
}

.slider-birds2 {
    position: absolute;
    right: 40px;
    bottom: 150px;
}

section.box-two {
    height: 100%;
    background-color: #814ac4;
}

.title {
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top: 60px;
}

.box-two-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    margin-top: 100px;
    flex-wrap: wrap;
}

.box-two-text {
    width: 50%;
    margin-right: 50px;
}

.traffic-jam {
    margin-left: 50px;
    width: 300px;
}

.box-three-title {
    color: #686868;
}

.box-three-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 60px;
}

.box-element {
    width: 190px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
}

.box-image {
    text-align: center;
}

.box-image img {
    width: 150px;
}

.box-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.box-text {
    text-align: center;
}

.box-text {
    margin-top: 15px;
}

.footer-site {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #232323;
    color: #fff;
    padding: 10px 20px;
}

.footer-site img {
    width: 100px;
}

.box-four {
    height: 100%;
    background-color: #f5f5f5;
}

img.smartphone-image {
    width: 300px;
}

.box-four-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;
}

.box-four-content p {
    font-size: 30px;
    color: #686868;
    margin-right: 50px;
    color: #814ac4;
}

@media (max-width: 620px) {
    header {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        color: #686868;
        margin-bottom: 30px;
    }

    .logo {
        width: 50px;
    }

    .header-list li {
        display: inline;
        margin: 0 5px;
    }

    #li-about {
        display: none;
    }

    #li-how-works {
        display: none;
    }

    .slide-text {
        float: none;
        width: 70%;
        text-align: center;
        margin: 0 auto;
        margin-top: 70px;
    }

    .slider-scooter {
        width: 50px;
        position: absolute;
        left: 100px;
        bottom: -4px;
    }

    .slider-house {
        display: none;
        position: relative;
        right: 0;
        bottom: 0;
    }

    .slider-hill {
        width: 200px;
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .slider-sun {
        position: absolute;
        right: 300px;
        bottom: 100px;
    }

    .traffic-jam {
        margin-left: 50px;
        width: 100px;
        display: none;
    }    

    .box-two-container {
        display: block;
    }

    .box-two-text {
        width: 80%;
        margin: 0 auto;
        text-align: justify;
    }

    img.smartphone-image {
        width: 200px;
    }

    .box-four {
        height: 80%;
        background-color: #f5f5f5;
    }
    
    .box-four-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 70px;
    }
    
    .box-four-content p {
        font-size: 30px;
        color: #686868;
        margin-right: 50px;
        color: #814ac4;
        text-align: center;
    }
}